body{
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Oswald', sans-serif;  
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700px;
    border-radius: 5x;
}